.priceBox {
    display: flex;
    gap: 16rem;
    align-items: flex-end;
}

.large .priceBox {
    gap: 32rem;
}

.price {
    font-size: 40rem;
    font-weight: 600;
    line-height: 110%;
    color: var(--main-text-color);
}

.large .price {
    font-size: 64rem;
    font-weight: 700;
}

.discont {
    font-size: 20rem;
    font-weight: 500;
    line-height: 130%;
    text-decoration: line-through;
    color: var(--light-text-color);
}

.large .discont {
    font-size: 40rem;
}

@media screen and (max-width: 1124px) {

    .large .price {
        font-size: 60rem;
    }

    .large .discont {
        font-size: 36rem;
    }

    .priceBox {
        gap: 10rem;
    }
}

@media screen and (max-width: 896px) {

    .large .price {
        font-size: 54rem;
    }

    .large .discont {
        font-size: 32rem;
    }

    .price {
        font-size: 35rem;
    }

    .discont {
        font-size: 18rem;
    }
}

@media screen and (max-width: 768px) {

    .price {
        font-size: 40rem;
    }

    .discont {
        font-size: 20rem;
    }
}

@media screen and (max-width: 490px) {

    .price {
        font-size: 32rem;
    }

    .discont {
        font-size: 20rem;
    }
}

@media screen and (max-width: 390px) {

    .price {
        font-size: 28rem;
    }

    .discont {
        font-size: 18rem;
    }
}