.overlay {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: rgba(40, 40, 40, 0.4);
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 9999;
}

.modalContainer {
    position: relative;
    width: 548rem;
    border-radius: 12px;
    background-color: var(--main-background-color);

    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    gap: 16rem;
    padding: 32rem;
}

.descriptionsContainer {
    display: flex;
    flex-direction: column;
    gap: 24rem;
}

.title {
    font-size: 40rem;
    font-weight: 600;
    line-height: 110%;
    color: var(--white-text-color);
}

.text {
    font-size: 20rem;
    font-weight: 600;
    line-height: 110%;
    color: var(--white-text-color);
}

.textBox {
    display: flex;
    flex-direction: column;
    gap: 20rem;
}

@media screen and (max-width: 768px) {

    .modalContainer {
        width: 450rem;
        gap: 14rem;
        padding: 28rem;
    }

    .title {
        font-size: 30rem;
    }

    .text {
        font-size: 18rem;
    }

}