.field {
    width: 112px;
    height: 36px;
    border: 1px solid var(--light-border-color);
    border-radius: 6px;
    padding: 8px 16px;
    outline: none;

    font-size: 16rem;
    font-weight: 500;
    line-height: 126%;
    color: var(--main-text-color);

    transition: ease-in-out 500ms;
}

.field:hover{
    background-color: var(--hover-background-color);
}

.field::placeholder {
    font-family: "Montserrat", sans-serif;
    font-size: 16rem;
    font-weight: 500;
    line-height: 126%;
    color: var(--light-text-color);
}

@media screen and (max-width: 768px) {

    .field {
        height: 36rem;
    }
}