:root {
    --main-text-color: #282828;
    --second-text-color: #0d50ff;
    --light-text-color: #8b8b8b;
    --white-text-color: #fff;

    --main-background-color: #0d50ff;
    --second-background-color: #282828;
    --hover-background-color: #f1f3f4;
    --white-background-color: #fff;
    --discount-background-color: #0D50FF;

    --dark-border-color: #8b8b8b;
    --light-border-color: #ddd;
    --white-border-color: #fff;

    --gradient-left: #2451C6;
    --gradient-right: #0D50FF;

    --main-color: #282828;
    --light-color: #ddd;
    --white-color: #fff;
}