.container {
    display: flex;
    align-items: center;
    gap: 32rem;
}

.box {
    display: flex;
    align-items: center;
    flex-grow: 1;
}

.separator {
    flex-grow: 1;
    height: 0px;
    border: 1px solid var(--light-color);
}