.counter {
    max-width: 200rem;
    display: flex;
    justify-content: center;
    align-items: center;
}

.count {
    border-bottom: 1px solid var(--light-color);
    border-top: 1px solid var(--light-color);
    width: 96rem;
    height: 58rem;

    font-size: 20rem;
    font-weight: 600;
    line-height: 130%;
    text-align: center;
    color: var(--main-text-color);

    display: flex;
    justify-content: center;
    align-items: center;
}

.box {
    border: 1px solid var(--light-color);
    border-radius: 6px;
    width: 58rem;
    height: 58rem;
    cursor: pointer;

    display: flex;
    justify-content: center;
    align-items: center;
}

.box:hover {
    background-color: var(--hover-background-color);
}

@media screen and (max-width: 1180px) {

    .counter {
        max-width: 150rem;
    }
}

@media screen and (max-width: 820px) {

    .count {
        height: 50rem;
    }

    .box {
        height: 50rem;
    }
}

@media screen and (max-width: 520px) {

    .count {
        height: 40rem;
    }

    .box {
        height: 40rem;
    }

    .counter {
        max-width: 140rem;
    }
}


@media screen and (max-width: 412px) {

    .count {
        height: 40rem;
    }

    .box {
        height: 40rem;
    }

    .counter {
        max-width: 120rem;
    }
}