.container {
    display: flex;
    align-items: center;
}

.link,
.current {
    text-decoration: none;
    display: inline-block;

    border: 1px solid var(--light-color);
    border-radius: 6px;
    padding: 8px 16px;
    height: 36px;

    font-family: "Montserrat", sans-serif;
    font-size: 16px;
    font-weight: 500;
    line-height: 126%;
    text-align: center;
    color: var(--light-text-color);
    white-space: nowrap;
}

.current {
    color: var(--main-text-color);
}

.link:hover {
    background-color: var(--hover-background-color);
}

.separator {
    width: 16px;
    height: 0px;
    border: 1px solid var(--light-color);
}

@media screen and (max-width: 960px) {

    .link,
    .current {
        margin: 8rem 0;
    }
}

@media screen and (max-width: 768px) {

    .link,
    .current {
        font-size: 16rem;
        padding: 8rem 16rem;
        height: 36rem;
    }

    .separator {
        width: 16rem;
    }
}

@media screen and (max-width: 520px) {

    .link,
    .current {
        font-size: 15rem;
    }
}

@media screen and (max-width: 430px) {

    .link,
    .current {
        height: 34rem;
        font-size: 14rem;
    }

    .separator {
        width: 15rem;
    }
}