.card {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 16rem;

    transition: ease-in-out 500ms;
}

.card:hover {
    transform: scale(0.9);
}

.imageBox {
    border-radius: 12px;
    width: 316px;
    height: 350px;
}

.title {
    font-size: 20rem;
    font-weight: 500;
    line-height: 130%;
    text-align: center;
    color: var(--main-text-color);
}

.title:hover {
    color: var(--second-text-color);
}

@media screen and (max-width: 768px) {

    .imageBox {
        width: 316rem;
        height: 350rem;
    }
}