.nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    border-bottom: 1px solid var(--light-color);
    background-color: var(--white-background-color);
    padding: 30rem 40rem;
}


@media screen and (max-width: 520px) {

    .nav {
        padding: 20rem 30rem;
    }
}

@media screen and (max-width: 430px) {

    .nav {
        padding: 20rem 30rem;
    }
}