.nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    border-bottom: 1px solid var(--light-color);
    background-color: var(--white-background-color);
    padding: 30rem 40rem;
}


@media screen and (max-width: 520px) {

    .nav {
        padding: 20rem 30rem;
    }
}

@media screen and (max-width: 432px) {

    .nav {
        padding: 20rem 30rem;
    }

    .menu {
        order: 1;
    }

    .logo {
        order: 2;
        margin-left: 70rem;
        margin-right: auto;
    }

    .cart {
        order: 3;
    }

}