.baketBox {
    position: relative;
    transition: ease-in-out 500ms;
}

.baketBox:hover {
    transform: scale(1.1);
}

.baket {
    width: 48rem;
    height: 48rem;
}

.count {
    position: absolute;
    top: 6rem;
    left: 3rem;
    z-index: 2;

    width: 26rem;
    height: 26rem;
    background-color: var(--main-background-color);
    border-radius: 50%;
    padding: 7rem;

    font-size: 12rem;
    font-weight: 600;
    line-height: 90%;
    text-align: center;
    color: var(--white-text-color);
}

.link {
    text-decoration: none;
}

@media screen and (max-width: 520px) {

    .baket {
        width: 31px;
        height: 31px;
    }
}

@media screen and (max-width: 430px) {

    .baket {
        width: 28px;
        height: 28px;
    }

    .count {
        width: 23rem;
        height: 23rem;
        font-size: 11rem;
    }
}