.card {
    position: relative;
    width: 100%;
    max-width: 316px;
    border: 1px solid var(--light-color);
    border-radius: 12px;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 20rem;

    transition: ease-in-out 500ms;
}

.card:hover {
    transform: scale(0.9);
}

.imageBox {
    width: 100%;
    height: 284px;
    border-bottom: 1px solid var(--light-color);
    overflow: hidden;
}

.image {
    border-radius: 12px;
}

.boxContent {
    padding: 0px 32rem 32rem 32rem;
    width: 100%;
    display: flex;
    flex-direction: column;
    gap: 16rem;
}

.title {
    font-size: 20rem;
    font-weight: 500;
    line-height: 130%;
    text-align: center;
    color: var(--main-text-color);

    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    max-width: 100%;
}

.title:hover {
    color: var(--second-text-color);
}

.link {
    text-decoration: none;
}

.discountBadgeBox {
    position: absolute;
    top: 16px;
    right: 16px;
    z-index: 2;
}

.addToCartBtnBox {
    position: absolute;
    top: 210px;
    left: 16px;
    width: 100%;
    max-width: 284px;
    opacity: 0;
    visibility: hidden;
}

/* при наведенні на картку — показуємо кнопку */
.card:hover .addToCartBtnBox {
    opacity: 1;
    visibility: visible;
}

@media screen and (max-width: 1024px) {

    .card {
        margin: 0 auto;
    }
}

@media screen and (max-width: 768px) {

    .card {
        max-width: 316rem;
    }

    .addToCartBtnBox {
        max-width: 284rem;
        top: 210rem;
        left: 16rem;
    }

    .imageBox {
        height: 284rem;
    }
}